body {
    background-color: rgb(181, 176, 176);
}

h1, h2 {
    background-color: rgb(114, 4, 57);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 207, 77);
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    background-color: rgb(197, 0, 95);
    color: lightgray;
}

p, ul, ol{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}